.explore-card {
    min-width: 10rem;
    width: 28%;
    max-width: 50rem;
    align-items: center;
}

.explore-card__top {
    cursor: pointer;
}

.explore-card__content {
    align-items: flex-start;
    gap: 0.5rem;
    width: 90%;
    padding: 1rem;
    text-align: left;
}

.explore-card>.btn {
    width: 90%;
}

.explore-card__options {
    width: 90%;
    align-items: center;
    gap: 1rem;
}

.explore-card__options>.btn {
    margin-left: auto;
}

.explore-card:hover {
    transform: scale(1.05);
    align-self: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
}

.thumbnail {
    width: 100%;
}

.video__title {
    padding-bottom: 1rem;
}

.card__creator{
    align-items: center;
    gap: 1rem;
}

.creator__img{
    width: 3rem;
    border-radius: 50%;
}

.not--liked {
    color: var(--primary-color);
    cursor: pointer;
}