.history__screen {
    align-items: center;
}

.history-videos__list {
    align-items: center;
    padding: 2rem;
    justify-content: center;
    gap: 3rem;
}

.history__page {
    min-height: 90vh;
    align-items: center;
}

.history__heading {
    text-align: center;
    padding: 3rem;
}